In [1]:
import numpy as np
import pandas as pd

In [2]:
reg=pd.read_excel('Hash-Analytic-Python-Analytics-Problem-case-study-1.xlsx','Employees who have left')
reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3571 entries, 0 to 3570
Data columns (total 10 columns):
Emp ID                   3571 non-null int64
satisfaction_level       3571 non-null float64
last_evaluation          3571 non-null float64
number_project           3571 non-null int64
average_montly_hours     3571 non-null int64
time_spend_company       3571 non-null int64
Work_accident            3571 non-null int64
promotion_last_5years    3571 non-null int64
dept                     3571 non-null object
salary                   3571 non-null object
dtypes: float64(2), int64(6), object(2)
memory usage: 279.1+ KB

In [3]:
reg

,Emp ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,dept,salary
0,1,0.38,0.53,2,157,3,0,0,sales,low
1,2,0.80,0.86,5,262,6,0,0,sales,medium
2,3,0.11,0.88,7,272,4,0,0,sales,medium
3,4,0.72,0.87,5,223,5,0,0,sales,low
4,5,0.37,0.52,2,159,3,0,0,sales,low
5,6,0.41,0.50,2,153,3,0,0,sales,low
6,7,0.10,0.77,6,247,4,0,0,sales,low
7,8,0.92,0.85,5,259,5,0,0,sales,low
8,9,0.89,1.00,5,224,5,0,0,sales,low
9,10,0.42,0.53,2,142,3,0,0,sales,low
10,11,0.45,0.54,2,135,3,0,0,sales,low
11,12,0.11,0.81,6,305,4,0,0,sales,low
12,13,0.84,0.92,4,234,5,0,0,sales,low
13,14,0.41,0.55,2,148,3,0,0,sales,low
14,15,0.36,0.56,2,137,3,0,0,sales,low
15,16,0.38,0.54,2,143,3,0,0,sales,low
16,17,0.45,0.47,2,160,3,0,0,sales,low
17,18,0.78,0.99,4,255,6,0,0,sales,low
18,19,0.45,0.51,2,160,3,1,1,sales,low
19,20,0.76,0.89,5,262,5,0,0,sales,low
20,21,0.11,0.83,6,282,4,0,0,sales,low
21,22,0.38,0.55,2,147,3,0,0,sales,low
22,23,0.09,0.95,6,304,4,0,0,sales,low
23,24,0.46,0.57,2,139,3,0,0,sales,low
24,25,0.40,0.53,2,158,3,0,0,sales,low
25,26,0.89,0.92,5,242,5,0,0,sales,low
26,27,0.82,0.87,4,239,5,0,0,sales,low
27,28,0.40,0.49,2,135,3,0,0,sales,low
28,29,0.41,0.46,2,128,3,0,0,accounting,low
29,30,0.38,0.50,2,132,3,0,0,accounting,low
...,...,...,...,...,...,...,...,...,...,...
3541,14970,0.43,0.46,2,157,3,0,0,sales,medium
3542,14971,0.78,0.93,4,225,5,0,0,sales,medium
3543,14972,0.39,0.45,2,140,3,0,0,sales,medium
3544,14973,0.11,0.97,6,310,4,0,0,accounting,medium
3545,14974,0.36,0.52,2,143,3,0,0,accounting,medium
3546,14975,0.36,0.54,2,153,3,0,0,accounting,medium
3547,14976,0.10,0.79,7,310,4,0,0,hr,medium
3548,14977,0.40,0.47,2,136,3,0,0,hr,medium
3549,14978,0.81,0.85,4,251,6,0,0,hr,medium
3550,14979,0.40,0.47,2,144,3,0,0,hr,medium
3551,14980,0.09,0.93,6,296,4,0,0,technical,medium
3552,14981,0.76,0.89,5,238,5,0,0,technical,high
3553,14982,0.73,0.93,5,162,4,0,0,technical,low
3554,14983,0.38,0.49,2,137,3,0,0,technical,medium
3555,14984,0.72,0.84,5,257,5,0,0,technical,medium
3556,14985,0.40,0.56,2,148,3,0,0,technical,medium
3557,14986,0.91,0.99,5,254,5,0,0,technical,medium
3558,14987,0.85,0.85,4,247,6,0,0,technical,low
3559,14988,0.90,0.70,5,206,4,0,0,technical,low
3560,14989,0.46,0.55,2,145,3,0,0,technical,low
3561,14990,0.43,0.57,2,159,3,1,0,technical,low
3562,14991,0.89,0.88,5,228,5,1,0,support,low
3563,14992,0.09,0.81,6,257,4,0,0,support,low
3564,14993,0.40,0.48,2,155,3,0,0,support,low
3565,14994,0.76,0.83,6,293,6,0,0,support,low
3566,14995,0.40,0.57,2,151,3,0,0,support,low
3567,14996,0.37,0.48,2,160,3,0,0,support,low
3568,14997,0.37,0.53,2,143,3,0,0,support,low
3569,14998,0.11,0.96,6,280,4,0,0,support,low
3570,14999,0.37,0.52,2,158,3,0,0,support,low

In [4]:
reg['average_montly_hours'].mean()

207.41921030523662

In [5]:
reg['average_montly_hours'].sum()

740694

In [6]:
reg.describe()

,Emp ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years
count,3571.000000,3571.000000,3571.000000,3571.000000,3571.000000,3571.000000,3571.000000,3571.000000
mean,6500.439653,0.440098,0.718113,3.855503,207.419210,3.876505,0.047326,0.005321
std,6266.484705,0.263933,0.197673,1.818165,61.202825,0.977698,0.212364,0.072759
min,1.000000,0.090000,0.450000,2.000000,126.000000,2.000000,0.000000,0.000000
25%,893.500000,0.130000,0.520000,2.000000,146.000000,3.000000,0.000000,0.000000
50%,1786.000000,0.410000,0.790000,4.000000,224.000000,4.000000,0.000000,0.000000
75%,12678.500000,0.730000,0.900000,6.000000,262.000000,5.000000,0.000000,0.000000
max,14999.000000,0.920000,1.000000,7.000000,310.000000,6.000000,1.000000,1.000000

In [7]:
reg['promotion_last_5years']=reg['promotion_last_5years'].astype('category')

In [8]:
reg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3571 entries, 0 to 3570
Data columns (total 10 columns):
Emp ID                   3571 non-null int64
satisfaction_level       3571 non-null float64
last_evaluation          3571 non-null float64
number_project           3571 non-null int64
average_montly_hours     3571 non-null int64
time_spend_company       3571 non-null int64
Work_accident            3571 non-null int64
promotion_last_5years    3571 non-null category
dept                     3571 non-null object
salary                   3571 non-null object
dtypes: category(1), float64(2), int64(5), object(2)
memory usage: 254.7+ KB

In [9]:
reg['Work_accident']=reg['Work_accident'].astype('category')

In [10]:
reg_col = reg['satisfaction_level']
high_satifaction_table = reg[reg_col < 0.5]
high_satisfaction_count = high_satifaction_table['satisfaction_level'].count()
row_count = reg_col.count()
(high_satisfaction_count / row_count) * 100

71.32455894707364

In [11]:
grouped_by_dept = reg['dept'].value_counts()
grouped_by_dept

sales          1014
technical       697
support         555
IT              273
hr              215
accounting      204
marketing       203
product_mng     198
RandD           121
management       91
Name: dept, dtype: int64

In [12]:
reg_col = reg['satisfaction_level']
low_satis_table = reg[reg_col < 0.5]
grouped_low_satis_by_dept = low_satis_table['dept'].value_counts()
grouped_low_satis_by_dept

sales          727
technical      492
support        381
IT             199
accounting     160
hr             159
marketing      149
product_mng    129
RandD           85
management      66
Name: dept, dtype: int64

In [13]:
for dept, low_satis_val, total_val in zip(grouped_low_satis_by_dept.index, grouped_low_satis_by_dept, grouped_by_dept):
    percent_low_satis = round((low_satis_val / total_val) * 100, 2)
    print(f'{dept} = {percent_low_satis}%')

sales = 71.7%
technical = 70.59%
support = 68.65%
IT = 72.89%
accounting = 74.42%
hr = 77.94%
marketing = 73.4%
product_mng = 65.15%
RandD = 70.25%
management = 72.53%

In [14]:
dan=pd.read_excel('Hash-Analytic-Python-Analytics-Problem-case-study-1.xlsx','Existing employees')
dan

,Emp ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,dept,salary
0,2001,0.58,0.74,4,215,3,0,0,sales,low
1,2002,0.82,0.67,2,202,3,0,0,sales,low
2,2003,0.45,0.69,5,193,3,0,0,sales,low
3,2004,0.78,0.82,5,247,3,0,0,sales,low
4,2005,0.49,0.60,3,214,2,0,0,sales,low
5,2006,0.36,0.95,3,206,4,0,0,sales,low
6,2007,0.54,0.37,2,176,2,0,0,sales,low
7,2008,0.99,0.91,5,136,4,0,0,sales,low
8,2009,0.50,0.75,6,127,3,0,0,sales,low
9,2010,0.74,0.64,4,268,3,0,0,sales,low
10,2011,0.56,0.58,4,258,3,0,0,sales,medium
11,2012,0.34,0.39,2,136,3,0,0,sales,medium
12,2013,0.48,0.94,5,255,6,0,0,accounting,medium
13,2014,0.73,0.62,3,218,3,0,0,accounting,medium
14,2015,0.59,0.87,3,268,4,0,0,accounting,medium
15,2016,0.81,0.57,3,224,2,0,0,hr,medium
16,2017,0.90,0.66,3,231,3,0,0,hr,medium
17,2018,0.41,0.84,6,191,6,0,0,hr,medium
18,2019,0.89,0.92,4,165,5,0,0,hr,medium
19,2020,0.48,0.84,4,252,3,0,0,technical,medium
20,2021,0.79,0.97,5,266,2,0,0,technical,medium
21,2022,0.98,0.66,5,248,3,0,0,technical,medium
22,2023,0.75,0.70,4,144,4,0,0,technical,high
23,2024,1.00,0.41,4,174,3,0,0,technical,low
24,2025,0.24,0.82,5,179,6,0,0,technical,medium
25,2026,0.84,0.43,6,246,4,0,0,technical,medium
26,2027,0.56,0.86,4,201,3,1,0,technical,medium
27,2028,0.92,0.93,4,208,3,0,0,technical,medium
28,2029,0.61,0.98,3,267,3,0,0,technical,low
29,2030,0.84,0.77,4,262,4,0,0,technical,low
...,...,...,...,...,...,...,...,...,...,...
11398,14182,0.14,0.38,5,115,6,1,0,marketing,high
11399,14183,0.85,0.89,4,150,3,0,0,accounting,high
11400,14184,0.55,0.81,3,239,8,0,0,accounting,high
11401,14185,0.49,0.71,4,178,8,0,0,IT,medium
11402,14186,0.82,0.58,5,263,8,0,0,IT,medium
11403,14187,0.59,0.77,3,272,8,0,0,management,high
11404,14188,0.90,0.82,3,133,8,0,0,marketing,medium
11405,14189,0.62,0.72,3,149,3,1,0,marketing,medium
11406,14190,0.61,0.68,3,193,2,0,0,marketing,medium
11407,14191,0.52,0.55,5,174,3,1,0,sales,medium
11408,14192,0.79,0.87,4,223,5,0,0,sales,medium
11409,14193,0.49,0.89,4,201,8,0,0,sales,medium
11410,14194,0.73,0.67,2,139,8,0,0,sales,medium
11411,14195,0.67,0.49,5,241,8,0,0,sales,medium
11412,14196,0.52,0.61,4,187,4,1,0,sales,medium
11413,14197,0.72,0.64,4,192,3,0,0,sales,medium
11414,14198,0.48,0.50,5,142,4,0,0,IT,medium
11415,14199,0.19,0.79,4,229,4,0,0,product_mng,medium
11416,14200,0.49,0.49,3,104,7,0,0,product_mng,high
11417,14201,0.90,0.76,3,255,7,0,0,product_mng,low
11418,14202,0.49,0.49,4,212,7,0,0,product_mng,medium
11419,14203,0.60,0.53,2,235,7,0,0,IT,medium
11420,14204,0.62,0.85,3,237,3,1,0,IT,medium
11421,14205,0.64,0.50,4,253,10,0,1,management,high
11422,14206,0.22,0.94,3,193,10,0,1,management,high
11423,14207,0.90,0.55,3,259,10,1,1,management,high
11424,14208,0.74,0.95,5,266,10,0,1,management,high
11425,14209,0.85,0.54,3,185,10,0,1,management,high
11426,14210,0.33,0.65,3,172,10,0,1,marketing,high
11427,14211,0.50,0.73,4,180,3,0,0,IT,low

In [15]:
dan_col = dan['satisfaction_level']
high_satifaction_table = dan[dan_col < 0.5]
high_satisfaction_count = high_satifaction_table['satisfaction_level'].count()
row_count = dan_col.count()
(high_satisfaction_count / row_count) * 100

17.815890794539726

In [16]:
grouped_by_dept = dan['dept'].value_counts()
grouped_by_dept.sum()

11428

In [17]:
dan_col = dan['satisfaction_level']
low_satis_table = dan[dan_col < 0.5]
grouped_low_satis_by_dept = low_satis_table['dept'].value_counts()
grouped_low_satis_by_dept.sum()

2036

In [18]:
for dept, low_satis_val, total_val in zip(grouped_low_satis_by_dept.index, grouped_low_satis_by_dept, grouped_by_dept):
    percent_low_satis = round((low_satis_val / total_val) * 100, 2)
    print(f'{dept} = {percent_low_satis}%')

sales = 17.69%
technical = 17.3%
support = 16.49%
IT = 16.67%
product_mng = 21.02%
RandD = 20.12%
accounting = 18.02%
marketing = 20.43%
hr = 17.07%
management = 17.37%

In [36]:
# choose employees who are prone to leave
# select existing employees with low salaries, high evaluation, no promotion the last 5 years, low and medium salaries
criteria_0 = np.logical_or(dan['salary'] == 'low', dan['salary'] == 'medium')
criteria_1 = np.logical_and(dan['satisfaction_level'] < 0.5, dan['last_evaluation'] >= 0.5)
criteria_2 = dan['promotion_last_5years'] == 0
combined_criteria = np.logical_and(criteria_0, criteria_1)
combined_criteria = np.logical_and(combined_criteria, criteria_2)
prone_to_leave_next = dan[combined_criteria].reset_index()
# save employees who are prone to leave
prone_to_leave_next.to_csv('prone_to_leave_next.csv')
# get number of employees who are prone to leave by department
prone_to_leave_next_by_dept = prone_to_leave_next['dept'].value_counts()
prone_to_leave_next_by_dept

sales          418
technical      260
support        195
IT             116
product_mng    106
RandD           95
accounting      85
marketing       79
hr              68
management      43
Name: dept, dtype: int64

In [32]:
# get the toal number of employees who are prone to leave
total_number_prone_to_leave = prone_to_leave_next_by_dept.sum()

In [34]:
# get the percentage of employees who are leaving per department
(prone_to_leave_next_by_dept / total_number_prone_to_leave) * 100

sales          28.532423
technical      17.747440
support        13.310580
IT              7.918089
product_mng     7.235495
RandD           6.484642
accounting      5.802048
marketing       5.392491
hr              4.641638
management      2.935154
Name: dept, dtype: float64